stages:
    - pre-build
    - build
    - container-build
    - java-docs
    - linting
    - electron

variables:
    MAVEN_OPTS: "-Dhttps.protocols=TLSv1.2 -Dmaven.repo.local=$CI_PROJECT_DIR/.m2/repository -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=WARN -Dorg.slf4j.simpleLogger.showDateTime=true -Djava.awt.headless=true"
    MAVEN_CLI_OPTS: "--batch-mode --errors --fail-at-end --show-version -DinstallAtEnd=true -DdeployAtEnd=true"

build_lib:
    image: maven:3.8.4-eclipse-temurin-16
    stage: pre-build
    artifacts:
        untracked: false
        expire_in: 1 week
        paths:
            - .m2/repository
    script:
        - cd lib && mvn clean install

install_npm_dependencies:
    image: node:14-alpine
    stage: pre-build
    artifacts:
        untracked: false
        expire_in: 1 hrs
        paths:
            - api/node_modules
            - website/node_modules
    script:
        - cd api && npm i
        - cd ../website && npm i

build_spigot:
    image: maven:3.8.4-eclipse-temurin-16
    stage: build
    needs:
        - build_lib
    artifacts:
        untracked: false
        expire_in: 1 week
        paths:
            - spigot/target/*.jar
    script:
        - cd spigot && mvn clean package

build_velocity:
    image: maven:3.8.4-eclipse-temurin-16
    stage: build
    needs:
        - build_lib
    artifacts:
        untracked: false
        expire_in: 1 week
        paths:
            - velocity/target/*.jar
    script:
        - cd velocity && mvn clean package

build_api:
    image: node:14-alpine
    stage: build
    needs:
        - install_npm_dependencies
    artifacts:
        untracked: false
        expire_in: 1 week
        paths:
            - api/index.js
            - api/dist
    script:
        - cd api && npm run build

build_website:
    image: node:14-alpine
    stage: build
    needs:
        - install_npm_dependencies
    artifacts:
        untracked: false
        expire_in: 1 week
        paths:
            - website/dist
    script:
        - cd website && npx ng build --configuration production

build_api_container:
    stage: container-build
    image:
        name: "gcr.io/kaniko-project/executor:debug"
        entrypoint: [""]
    needs:
        - install_npm_dependencies
        - build_api
    script:
        - mkdir -p /kaniko/.docker
        - echo "{\"auths\":{\"registry01.eps-dev.de\":{\"auth\":\"$(printf "%s:%s" "${PRIVATE_REG_USER}" "${PRIVATE_REG_PASSWORD}" | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
        - >-
            /kaniko/executor
            --context "${CI_PROJECT_DIR}/api"
            --dockerfile "${CI_PROJECT_DIR}/api/Dockerfile"
            --destination "registry01.eps-dev.de/velocitymanager/api/${CI_COMMIT_REF_SLUG}:${CI_COMMIT_SHA}"
            --destination "registry01.eps-dev.de/velocitymanager/api/${CI_COMMIT_REF_SLUG}:latest"

build_website_container:
    stage: container-build
    image:
        name: "gcr.io/kaniko-project/executor:debug"
        entrypoint: [""]
    needs:
        - build_website
    script:
        - mkdir -p /kaniko/.docker
        - echo "{\"auths\":{\"registry01.eps-dev.de\":{\"auth\":\"$(printf "%s:%s" "${PRIVATE_REG_USER}" "${PRIVATE_REG_PASSWORD}" | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
        - >-
            /kaniko/executor
            --context "${CI_PROJECT_DIR}/website"
            --dockerfile "${CI_PROJECT_DIR}/website/Dockerfile"
            --destination "registry01.eps-dev.de/velocitymanager/website/${CI_COMMIT_REF_SLUG}:${CI_COMMIT_SHA}"
            --destination "registry01.eps-dev.de/velocitymanager/website/${CI_COMMIT_REF_SLUG}:latest"

prettier:
    image: node:14-alpine
    stage: linting
    allow_failure: true
    needs: []
    before_script:
        - npm install -g prettier prettier-plugin-java
    script:
        - npx prettier --check .

build-javadocs:
    image: maven:3.8.4-eclipse-temurin-16
    stage: java-docs
    needs:
        - build_lib
        - build_velocity
        - build_spigot
    artifacts:
        untracked: false
        expire_in: 1 week
        paths:
            - lib/target/site/apidocs/**
            - spigot/target/site/apidocs/**
            - velocity/target/site/apidocs/**
    script:
        - cd lib && mvn javadoc:javadoc
        - cd ../spigot && mvn javadoc:javadoc
        - cd ../velocity && mvn javadoc:javadoc
    only:
        - main

build-javadocs-container:
    image:
        name: "gcr.io/kaniko-project/executor:debug"
        entrypoint: [""]
    stage: java-docs
    needs:
        - build-javadocs
    script:
        - mkdir -p /kaniko/.docker
        - echo "{\"auths\":{\"registry01.eps-dev.de\":{\"auth\":\"$(printf "%s:%s" "${PRIVATE_REG_USER}" "${PRIVATE_REG_PASSWORD}" | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
        - >-
            /kaniko/executor
            --context "${CI_PROJECT_DIR}/"
            --dockerfile "${CI_PROJECT_DIR}/docs/javadocs/Dockerfile"
            --destination "registry01.eps-dev.de/velocitymanager/javadocs/${CI_COMMIT_REF_SLUG}:latest"
    only:
        - main

deploy-javadocs-container:
    stage: java-docs
    image:
        name: "registry01.eps-dev.de/devops/deployment-containers/helmctl:latest"
        entrypoint: [""]
    needs:
        - build-javadocs-container
    script:
        - helm uninstall javadocs --namespace velocity-manager-dev || true
        - helm upgrade --install javadocs ./docs/javadocs/deployment/
          --values ./docs/javadocs/deployment/values.yaml
          --set image.repository=registry01.eps-dev.de/velocitymanager/javadocs/${CI_COMMIT_REF_SLUG}
          --set image.tag=latest
          --set ingress.hosts[0].host=velocitymanager.docs.eps-dev.de
          --set ingress.tls[0].secretName=velocitymanager.docs.eps-dev.de-tls
          --set ingress.tls[0].hosts[0]=velocitymanager.docs.eps-dev.de
          --namespace velocity-manager-dev
    only:
        - main

build_electron:
    image: leifcr/electronuserland-builder-wine-mono-updated:latest
    stage: electron
    needs:
        - install_npm_dependencies
        - build_website
    artifacts:
        untracked: false
        expire_in: 1 hrs
        paths:
            - website/.packages
    script:
        - cd website
        - rm node_modules/rcedit/bin/rcedit-x64.exe && mv node_modules/rcedit/bin/rcedit.exe node_modules/rcedit/bin/rcedit-x64.exe
        - npm run package:linux
        - npm run package:osx
        - npm run package:win
        - mkdir .packages
        - tar -czvf .packages/linux64.tar.gz packages/website-0.0.0-linux-x64
        - tar -czvf .packages/darwin64.tar.gz packages/website-0.0.0-darwin-x64
        - tar -czvf .packages/win32.tar.gz packages/website-0.0.0-win32-ia32
